numpy==1.22.3
pandas==1.0.3
scikit-learn==1.2.2
matplotlib==3.5.2
opencv-python==4.5.4.58
Kivy==2.2.1
buildozer==1.5.0
colorama
appdirs
Cython==0.29.33

# For Linux gstreamer camera provider
pycairo==1.24.0
PyGObject==3.44.1
olefile==0.46
